@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: #070a12;
}


html, body {
  height: 100%;
  overscroll-behavior: none;
  -webkit-text-size-adjust: 100%;
  touch-action: manipulation;
}

button, a, input, textarea {
  -webkit-tap-highlight-color: transparent;
}
input, textarea {
  font-size: 16px; /* prevents iOS zoom on focus */
}